<!-- banner -->
<div class="banner-home">
  <div class="container">
    <h1 class="text-white mb-4">Welcome to the <strong><span style="color: #65BE16;">Treehouse<span></strong></h1>
    <p><%= link_to "GET STARTED", treehouses_path, class: "button-main text-white" %></p>
  </div>
</div>


<!-- marketing cards -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 p-4 text-white" style="background-color: #119358;">
      <h4 class="text-uppercase text-center text-justify">Find ideal treehouse</h4>

    </div>
    <div class="col-xs-12 col-sm-4 p-4 text-white" style="background-color: #2EA16D;">
      <h4 class="text-uppercase text-center text-justify">Explore nature</h4>

    </div>
    <div class="col-xs-12 col-sm-4 p-4 text-white" style="background-color: #4FB486;">
      <h4 class="text-uppercase text-center text-justify">Live your dream</h4>
    </div>
  </div>
</div>

<!-- description -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 p-4" style="background-color: white; font-size: 20px;">
      <p class="text-center pt-3 text-dark">Explore our magnificent treehouses and start planning your wonderful wooden experience in the woods. Go to sleep under a blanket of stars twinkling down through skylights.</p>
    </div>
    <div class="col-xs-12 col-sm-4 p-4" style="background-color: white; font-size: 20px;">
      <p class="text-center pt-3 text-dark">An overnight stay at one of our cabins can be a unique opportunity for you to experience the forest's enchantment and together see animals they have not seen in reality.</p>
    </div>
    <div class="col-xs-12 col-sm-4 p-4" style="background-color: white; font-size: 20px;">
      <p class="text-center pt-3 text-dark">Make your child dreams come tree in one of our treehouses. Take a walk on the wild side. This will be an experience that you will not forget. Pack your bags, you’re going to the woods. </p>
    </div>
  </div>
</div>

