<!-- banner -->
<div class="banner-home">
  <div class="container">
    <h1 class="text-white pb-4">Welcome to the <strong><span style="color: #65BE16;">Treehouse<span></strong></h1>
    <%= link_to "GET STARTED", treehouses_path, class: "button-main text-white" %>
  </div>
</div>


<!-- marketing cards -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 p-4 text-white" style="background-color: #119358;">
      <h4 class="text-uppercase text-center text-justify">Find ideal treehouse</h4>

    </div>
    <div class="col-xs-12 col-sm-4 p-4 text-white" style="background-color: #2EA16D;">
      <h4 class="text-uppercase text-center text-justify">Explore nature</h4>

    </div>
    <div class="col-xs-12 col-sm-4 p-4 text-white" style="background-color: #4FB486;">
      <h4 class="text-uppercase text-center text-justify">Live your dream</h4>
    </div>
  </div>
</div>

<!-- description -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 p-4" style="background-color: white; font-size: 20px;">
      <p class="text-center pt-3 text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum adipisci quam harum temporibus tempora voluptatibus perferendis?</p>
    </div>
    <div class="col-xs-12 col-sm-4 p-4" style="background-color: white; font-size: 20px;">
      <p class="text-center pt-3 text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum adipisci quam harum temporibus tempora voluptatibus perferendis?</p>
    </div>
    <div class="col-xs-12 col-sm-4 p-4" style="background-color: white; font-size: 20px;">
      <p class="text-center pt-3 text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolorum adipisci quam harum temporibus tempora voluptatibus perferendis?</p>
    </div>
  </div>
</div>

