.banner-index {
  background-size: cover;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('https://res.cloudinary.com/dwzhk2thi/image/upload/v1601471559/mgsvkzmpb9lxhyc9suuv.png');
  background-repeat:no-repeat;
  height: 200px;
  text-align: center;
  padding-top: 80px;
}
