.footer {
  background-color: $dark-gray;
  text-align: center;
  padding: 20px;
  margin-bottom: 0px;
}

.footer a {
  font-size: 45px;
  color: $green3;
}

.footer p {
  color: rgb(233, 233, 233);
  font-size: 16px;
}

.footer a:hover {
  color: $green2;
}

